body {
    background-color:rgb(206, 120, 14);
}

h1 {
    border-color:cadetblue;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}